.container{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    border: solid gray 1px;
    padding: 50px;
}
nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 10px;
    border-bottom: solid gray 1px;
    padding-bottom: 30px;
}
.description{
    margin: 0px 200px;
    text-align: start;
}